<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fullscreen Layout with Page Transitions</title>
    <meta name="description" content="Fullscreen Layout with Page Transitions"/>
    <meta name="keywords"
          content="fullscreen layout, boxes, responsive, page transitions, css transitions, jquery, portfolio, template"/>
    <meta name="author" content="Codrops"/>
    <link rel="stylesheet" type="text/css" href="/static/css/component.css"/>

    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
    <script src="/static/js/ie8-responsive-file-warning.js"></script>
    <script src="/static/js/ie-emulation-modes-warning.js"></script>

    <script src="/static/js/modernizr.custom.js"></script>
</head>
<body>
<div class="">
    <div id="bl-main" class="bl-main">
        <section>
            <div class="bl-box">
                <h2 class="bl-icon bl-icon-about">登录</h2>
            </div>
            <div class="bl-content" style=" padding-top: 180px;">
                <form class="form-signin" style="background-color:white;">
                    <h3 class="form-signin-heading">使用密码登录</h3>
                    <label for="loginEmail" class="sr-only">邮箱/用户名</label>
                    <input type="email" id="loginEmail" class="form-control inputEmail" placeholder="邮箱/用户名" required
                           autofocus>
                    <label for="loginPassword" class="sr-only">请输入密码</label>
                    <input type="password" id="loginPassword" class="form-control inputPassword" placeholder="请输入密码"
                           required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> 记住密码
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
                </form>

            </div>

            <span class="bl-icon bl-icon-close"></span>
        </section>
        <section id="bl-work-section">
            <div class="bl-box">
                <h2 class="bl-icon bl-icon-works">注册</h2>
            </div>
            <div class="bl-content">
                <!--                <h2>My Works</h2>-->
                <!--                <p>Mung bean maize dandelion sea lettuce catsear bunya nuts ricebean tatsoi caulie horseradish pea.</p>-->
                <!--                <ul id="bl-work-items">-->

                <!--                    <li data-panel="panel-1"><a href="#"><img src="/static/images/1.jpg"/></a></li>-->
                <!--                    <li data-panel="panel-2"><a href="#"><img src="/static/images/2.jpg"/></a></li>-->
                <!--                    <li data-panel="panel-3"><a href="#"><img src="/static/images/3.jpg"/></a></li>-->
                <!--                    <li data-panel="panel-4"><a href="#"><img src="/static/images/4.jpg"/></a></li>-->
                <!--                </ul>-->
                <!--                <p>Illustrations by <a href="http://dribbble.com/isaac317/click">Isaac Montemayor</a></p>-->
                <form class="form-signin">
                    <h2 class="form-signin-heading">注册</h2>
                    <label for="signEmail" class="sr-only">邮箱/用户名</label>
                    <input type="email" id="signEmail" class="form-control inputEmail" placeholder="邮箱/用户名" required
                           autofocus>
                    <label for="signPassword" class="sr-only">请输入密码</label>
                    <input type="password" id="signPassword" class="form-control inputPassword" placeholder="请输入密码"
                           required>
                    <label for="againPassword" class="sr-only">再次输入密码</label>
                    <input type="password" id="againPassword" class="form-control inputPassword" placeholder="再次输入密码"
                           required>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> 记住密码
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
                </form>

            </div>
            <span class="bl-icon bl-icon-close"></span>
        </section>
        <section>
            <div class="bl-box">
                <h2 class="bl-icon bl-icon-blog">医生</h2>
            </div>
            <div class="bl-content">
                <h2>My Musings</h2>
                <article>
                    <h3>Being a Freelance Designer</h3>
                    <p>Stumptown helvetica cardigan, odd future seitan tattooed flannel. Kale chips direct trade cray
                        beard. 8-bit etsy butcher post-ironic blog lo-fi mcsweeney's, sustainable pickled umami
                        flexitarian DIY ethical plaid trust fund. Wolf cred organic, terry richardson aesthetic four
                        loko occupy vegan chillwave readymade deep... <a href="#">Read more</a></p>
                </article>
                <article>
                    <h3>Working with Photoshop</h3>
                    <p>Cosby sweater odd future gluten-free actually dreamcatcher. Fixie cray vice sriracha disrupt,
                        lo-fi pitchfork mcsweeney's swag YOLO meh chambray etsy. Keytar sriracha fanny pack church-key
                        hashtag vice blog. 3 wolf moon VHS helvetica, raw denim deep v shoreditch seitan twee... <a
                                href="#">Read more</a></p>
                </article>
                <article>
                    <h3>Making use of Icon Fonts</h3>
                    <p>Locavore irony gastropub chillwave, butcher meggings flexitarian pinterest master cleanse godard.
                        Intelligentsia pop-up neutra, williamsburg gastropub godard pinterest swag deep v umami lomo.
                        Butcher next level 90's wolf bushwick, narwhal photo booth YOLO kale chips whatever small batch.
                        Meh viral ethical hella cardigan portland, street art mlkshk meggings mixtape kale chips cliche
                        messenger bag pitchfork... <a href="#">Read more</a></p>
                </article>
                <article>
                    <h3>Being a Freelance Designer</h3>
                    <p>Stumptown helvetica cardigan, odd future seitan tattooed flannel. Kale chips direct trade cray
                        beard. 8-bit etsy butcher post-ironic blog lo-fi mcsweeney's, sustainable pickled umami
                        flexitarian DIY ethical plaid trust fund. Wolf cred organic, terry richardson aesthetic four
                        loko occupy vegan chillwave readymade deep... <a href="#">Read more</a></p>
                </article>
                <article>
                    <h3>Working with Photoshop</h3>
                    <p>Cosby sweater odd future gluten-free actually dreamcatcher. Fixie cray vice sriracha disrupt,
                        lo-fi pitchfork mcsweeney's swag YOLO meh chambray etsy. Keytar sriracha fanny pack church-key
                        hashtag vice blog. 3 wolf moon VHS helvetica, raw denim deep v shoreditch seitan twee... <a
                                href="#">Read more</a></p>
                </article>
                <article>
                    <h3>Making use of Icon Fonts</h3>
                    <p>Locavore irony gastropub chillwave, butcher meggings flexitarian pinterest master cleanse godard.
                        Intelligentsia pop-up neutra, williamsburg gastropub godard pinterest swag deep v umami lomo.
                        Butcher next level 90's wolf bushwick, narwhal photo booth YOLO kale chips whatever small batch.
                        Meh viral ethical hella cardigan portland, street art mlkshk meggings mixtape kale chips cliche
                        messenger bag pitchfork... <a href="#">Read more</a></p>
                </article>
            </div>
            <span class="bl-icon bl-icon-close"></span>
        </section>
        <section>
            <div class="bl-box">
                <h2 class="bl-icon bl-icon-contact">游客</h2>
            </div>
            <div class="bl-content">
                <h2>Get in touch</h2>
                <p>Pinterest semiotics single-origin coffee craft beer thundercats irony, tumblr bushwick intelligentsia
                    pickled. Narwhal mustache godard master cleanse street art, occupy ugh selfies put a bird on it cray
                    salvia four loko gluten-free shoreditch. Occupy american apparel freegan cliche. Mustache trust fund
                    8-bit jean shorts mumblecore thundercats. Pour-over small batch forage cray, banjo post-ironic
                    flannel keffiyeh cred ethnic semiotics next level tousled fashion axe. Sustainable cardigan keytar
                    fap bushwick bespoke.</p>
            </div>
            <span class="bl-icon bl-icon-close"></span>
        </section>
        <!-- Panel items for the works -->
        <div class="bl-panel-items" id="bl-panel-work-items">
            <div data-panel="panel-1">
                <div>

                    <img src="/static/images/1.jpg"/>
                    <h3>Fixie bespoke</h3>
                    <p>Iphone artisan direct trade ethical Austin. Fixie bespoke banh mi ugh, deep v vinyl hashtag.
                        Tumblr gentrify keffiyeh pop-up iphone twee biodiesel. Occupy american apparel freegan cliche.
                        Mustache trust fund 8-bit jean shorts mumblecore thundercats. Pour-over small batch forage cray,
                        banjo post-ironic flannel keffiyeh cred ethnic semiotics next level tousled fashion axe.
                        Sustainable cardigan keytar fap bushwick bespoke.</p>
                </div>
            </div>
            <div data-panel="panel-2">
                <div>
                    <img src="/static/images/2.jpg"/>
                    <h3>Chillwave mustache</h3>
                    <p>Squid vinyl scenester literally pug, hashtag tofu try-hard typewriter polaroid craft beer mlkshk
                        cardigan photo booth PBR. Chillwave 90's gentrify american apparel carles disrupt. Pinterest
                        semiotics single-origin coffee craft beer thundercats irony, tumblr bushwick intelligentsia
                        pickled. Narwhal mustache godard master cleanse street art, occupy ugh selfies put a bird on it
                        cray salvia four loko gluten-free shoreditch.</p>
                </div>
            </div>
            <div data-panel="panel-3">
                <div>
                    <img src="/static/images/3.jpg"/>
                    <h3>Austin hella</h3>
                    <p>Ethical cray wayfarers leggings vice, seitan banksy small batch ethnic master cleanse. Pug
                        chillwave etsy, scenester meh occupy blue bottle tousled blog tonx pinterest selvage mixtape
                        swag cosby sweater. Synth tousled direct trade, hella Austin craft beer ugh chambray.</p>
                </div>
            </div>
            <div data-panel="panel-4">
                <div>
                    <img src="/static/images/4.jpg"/>
                    <h3>Brooklyn dreamcatcher</h3>
                    <p>Fashion axe 90's pug fap. Blog wayfarers brooklyn dreamcatcher, bicycle rights retro YOLO. Wes
                        anderson lomo 90's food truck 3 wolf moon, twee jean shorts. Iphone small batch twee wolf yr
                        before they sold out. Brooklyn echo park cred, portland pug selvage flannel seitan tousled
                        mcsweeney's.</p>
                </div>
            </div>
            <nav>
                <span class="bl-next-work">&gt; Next Project</span>
                <span class="bl-icon bl-icon-close"></span>
            </nav>
        </div>
    </div>
</div><!-- /container -->
<script src="/static/js/vendor/jquery.min.js"></script>
<script src="/static/js/boxlayout.js"></script>
<script src="/static/js/ie10-viewport-bug-workaround.js"></script>
<script>
    $(function () {
        Boxlayout.init();
    });

</script>
</body>
</html>
