<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>填写个人信息</title>
    <link rel="shortcut icon" href="/static/favicon.ico">
    <link rel="stylesheet" type="text/css" href="/static/css/component.css"/>

    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <script src="../static/js/ie8-responsive-file-warning.js"></script>
    <script src="../static/js/ie-emulation-modes-warning.js"></script>


    <script src="../static/js/modernizr.custom.js"></script>
    <style type="text/css">
        body {
            padding-top: 80px;
            padding-bottom: 40px;

        }

    </style>
</head>

<body>
<form class="form-horizontal">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-5"><div class="form-group form-group-lg">
            <label class="col-sm-2 control-label" for="formGroupInputLarge">姓名：</label>
            <div class="col-md-5">
                <input class="form-control" type="text" id="formGroupInputLarge" placeholder="请输入姓名">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-md-2 control-label" for="formGroupInputLarge">性别：</label>
            <label class="checkbox-inline col-md-1">
                <input type="checkbox" id="inlineCheckbox1" value="option1"> 男
            </label>
            <label class="checkbox-inline col-sm-1">
                <input type="checkbox" id="inlineCheckbox2" value="option2"> 女
            </label>
        </div>


    <!--    &lt;!&ndash; Large button group &ndash;&gt;-->
    <!--<div class="btn-group">-->
    <!--  <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
    <!--    Large button <span class="caret"></span>-->
    <!--  </button>-->
    <!--  <ul class="dropdown-menu">-->
    <!--    <li><a href="#">Action</a></li>-->
    <!--    <li><a href="#">Another action</a></li>-->
    <!--    <li><a href="#">Something else here</a></li>-->
    <!--    <li role="separator" class="divider"></li>-->
    <!--    <li><a href="#">Separated link</a></li>-->
    <!--  </ul>-->
    <!--</div>-->

        <div class="form-group form-group-lg">
            <label class="col-md-2 control-label" for="formGroupInputSmall">手机号：</label>
            <div class="col-md-5">
                <input class="form-control" type="text" id="formGroupInputSmall" placeholder="请输入手机号">
            </div>
        </div>
        <div class="form-group form-group-lg">
            <label class="col-md-2 control-label" for="formGroupInputLarge">有无遗传病史：</label>
            <textarea class="form-control col-md-2" rows="3">没有请填无</textarea>

        </div>
            <button type="submit" class="btn btn-primary btn-lg">完成</button>
        </div>
    </div>
</form>


<script src="../static/js/vendor/jquery.min.js"></script>
<script src="../static/js/boxlayout.js"></script>
<script src="../static/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>